.slider-one,
.slider-two,
.slider-three {
  width: 491px;
  margin: 0 auto; }

.panel {
  border: 1px dashed darkorange;
  padding: 2rem;
  box-shadow: 1px 1px 1px darkorange;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: cursive;
  background: whitesmoke; }
  .panel__label {
    text-align: center;
    position: relative; }
    .panel__label-item {
      border: 1px solid #cacaca;
      box-shadow: 3px 3px 1px 0px #cacaca;
      font-family: cursive;
      text-align: center;
      font-size: 1.1rem;
      transition: 0.2s cubic-bezier(0, 0, 0.2, 1) all;
      cursor: pointer;
      padding: 1rem; }
      .panel__label-item:hover {
        transform: scale(1.1); }
  .panel__modal_type_error {
    position: absolute;
    background: #eed2a4;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    top: -100%;
    left: -1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: fantasy;
    padding: 1rem;
    color: brown;
    cursor: pointer; }


