.slider__container {
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem; }

.slider__body {
  background-color: #858585;
  border-radius: 6px;
  position: relative;
  cursor: pointer; }
  .slider__body_type_horizontal {
    width: 99%;
    height: 5px; }
  .slider__body_type_vertical {
    width: 5px;
    min-height: 20rem; }

.slider__handler {
  background: darkorange;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -1rem;
  cursor: pointer; }
  .slider__handler_type_vertical {
    transform: translate(-0.8rem); }

.slider__tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive;
  min-width: 2rem;
  height: 1.5rem;
  background: darkorange;
  color: white;
  border-radius: 10px;
  position: absolute;
  padding: 0.1rem; }
  .slider__tooltip_type_horizontal {
    top: -2rem; }
  .slider__tooltip_type_vertical {
    left: -2.5rem;
    top: 0.2rem; }

.slider__breakpoint {
  color: gray;
  font-weight: bold;
  position: absolute; }
  .slider__breakpoint_direction_left {
    top: 1rem; }
  .slider__breakpoint_direction_top {
    left: 1.5rem;
    transform: translate(0rem, -0.5rem); }

