include ./components/panel/panel
include ./components/slider/slider

doctype html
html
  head
    meta(charset = "utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="description" content="Slider")
    meta(name="keywords" content="PUG, SCSS, webpack, js, unit, slider")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
    link(rel="apple-touch-icon" sizes="180x180" href="./assets/favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./assets/favicons/favicon-32x32.png")
    link(rel="icon" sizes="any" mask href="./assets/favicons/safari-pinned-tab.svg")
    title Страница со слайдером
  body
    -
      const sliderSettings = [
        {
          minValue: 0,
          maxValue: 100,
          stepSize: 1,
          axis: 'X',
          valueType: 'single',
          isShowTooltip: true,
          isShowLabels: false,
        },
        {
          minValue: 500,
          maxValue: 1000,
          stepSize: 55,
          axis: 'Y',
          valueType: 'single',
          isShowTooltip: false,
          isShowLabels: true,
        },
        {
          minValue: 5000,
          maxValue: 15000,
          stepSize: 1000,
          axis: 'X',
          valueType: 'double',
          isShowTooltip: true,
          isShowLabels: true,
        }
      ];
    each settings in sliderSettings
      .example__item
        +slider(settings)
        +panel()