include ./components/panel/panel
include ./components/slider/slider

doctype html
html
  head
    meta(charset = "utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="description" content="Slider")
    meta(name="keywords" content="PUG, SCSS, webpack, js, unit, slider")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
    link(rel="apple-touch-icon" sizes="180x180" href="./assets/favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./assets/favicons/favicon-32x32.png")
    link(rel="icon" sizes="any" mask href="./assets/favicons/safari-pinned-tab.svg")
    title Страница со слайдером
  body
    -
      const sliderSettings = [
        {
          minAvailableValue: 0,
          maxAvailableValue: 100,
          stepSize: 1,
          minValueCurrent: 30,
          maxValueCurrent: 70,
          axis: 'INVALID DUMMY VALUE',
          valueType: 'double',
          withTooltip: 'INVALID DUMMY VALUE',
          withLabels: 'INVALID DUMMY VALUE',
        },
        {
          minAvailableValue: 500,
          maxAvailableValue: 1000,
          minValueCurrent: 665,
          maxValueCurrent: 885,
          stepSize: 55,
          axis: 'Y',
          valueType: 'double',
          withTooltip: false,
          withLabels: true,
        },
        {
          minAvailableValue: 100,
          maxAvailableValue: 1000,
          minValueCurrent: 100,
          stepSize: 50,
          axis: 'X',
          valueType: 'single',
          withTooltip: true,
          withLabels: true,
        }
      ];
    each settings in sliderSettings
      .example__item
        +slider(settings)
        +panel()