<!DOCTYPE html>
html(lang="en")
    head
        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Sliders
    body
        #first_slider
        #second_slider
        #third_slider
            //- div(class="slider_settings")
            //-     input(type="value" class="step_size" placeholder="Размер шага:")
            //-     input(type="value" class="setup_value" placeholder="Установить значение")
            //-     label(for="Enable_actValue") Показыавть бегунок:
            //-         input(type="checkbox" id="Enable_actValue")
            //-     form(action="#" id="view_type" class="view_type") Тип слайдера:
            //-         label(for="Horizontal_view") Горизонтальный вид
            //-             input(type="checkbox" id="Horizontal_view")
            //-         label(for="Vertical_view") Вертикальный вид
            //-             input(type="checkbox" id="Vertical_view")
            //-     form(action="#" id="value_type" class="value_type") Тип значения:
            //-         label(for="single_value") Одиночное значение
            //-             input(type="checkbox" id="single_value")
            //-         label(for="interval_value") Интервал
            //-             input(type="checkbox" id="interval_value")
            //-     button(type="submit" class="apply_values") Применить значения