<!DOCTYPE html>
html(lang="en")
    head
        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Sliders
    body
        #first_slider
        #second_slider
        #third_slider