*{
    margin: 0;
    padding: 0;
}

.slider-wrapper{
    width: 600px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider{
    width: 100%;
    height: 5px;
    background-color: #858585;
    border-radius: 6px;
    position: relative;
    
    .slider_toggler{
        width: 5%;
        height: 2rem;
        bottom: -251%;
        background: red;
        border-radius: 50%;
        position: absolute;
    }
}